.img-1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    opacity:55%;
    /* background-image: linear-gradient(to bottom, #ffffff, #dedede, #bdbebd, #9e9e9e, #808080); */
    background-image: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
}
.img-1{
    transform: scale(1);
    transition: all 0.5s linear;
}
.img-1:hover{
    transform: scale(1.1);
    border-radius: 25px;
}